//COLORS

$primary-color:		#13A0C3;
$secondary-color: 	#D814D1;
$tertiary-color:	#136122;

// FONT SIZE
$p-font-size:        14px;
$h3-font-size:       $p-font-size*4/3;
$h2-font-size:       $h3-font-size*4/3;
$h2-font-size:       $h2-font-size*4/3;

//  OPTIONAL FILES
$use-slider:      true;
$use-caroussel:   true;